/* You can add global styles to this file, and also import other style files */
body {
    background-color:#FDF1D8;
  }
button {
    color: #04724D;
}
a {
    color: #56876D
}
h1 {
    color: black
}